/* font-family:'Montserrat', sans-serif;
 font-family: 'Poppins', sans-serif;*/

h1 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
