:root {
  --branding-color: #01cbb7;
  --heading-font-family: "Montserrat", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #cbfaf5;
}
body {
  font-family: var(--default-font-family);
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 90px;
  line-height: 1.5;
}
h2 {
  font-size: 30px;
}
h4 {
  font-size: 38px;
}

p {
  font-size: 14px;
  line-height: 30px;
}

footer {
  margin: 40px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  color: #272142;
  font-size: 16px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--branding-color);
  text-decoration: underline;
}
footer .social-links a {
  margin: 30px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
  transition: all 150ms ease-in-out;
}
footer .open-source {
  margin-top: 20px;
  font-size: 14px;
}
footer .open-source-link {
  color: var(--branding-color);
}
.logo {
  max-height: 40px;
  font-size: 25px;
  font-family: "Aboreto", cursive;
  color: var(--branding-color);
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 45px;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 35px;
  color: #272142;
}

.about-section {
  margin: 10px 106px;
}
.about-section h1 {
  font-size: 44px;
  line-height: 60px;
}
.about-section h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
}
.about-section-container {
  margin: 35px;
}
.about-me-paragraph {
  opacity: 0.7;
}
.shecodes-link {
  color: var(--branding-color);
  text-decoration: underline;
}
.work-container {
  margin: 20px 106px;
}
.content-container {
  padding: 60px 20px;
  text-align: center;
}
.content-container h1 {
  font-size: 50px;
  line-height: 50px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.btn-branding:hover {
  background: white;
  color: var(--branding-color);
}
.maxHeightImg {
  max-height: 300px;
}
.maxHeightImg-work {
  max-height: 440px;
}
.fitness-image {
  background: var(--secondary-color);
  padding: 30px;
}
.fitness-project {
  font-size: 30px;
}

.weather-image {
  background: var(--secondary-color);
  padding: 30px;
}
.weather-project {
  font-size: 30px;
}
.dictionary-image {
  background: var(--secondary-color);
  padding: 30px;
}
.dictionary-project {
  font-size: 30px;
}
.kathryn-photo {
  margin-top: 50px;
  max-height: 500px;
  border-radius: 10px;
}
.contact-box p {
  font-size: 18px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
  padding: 5px;
  border-radius: 3px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
  text-decoration: underline;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 45px;
  }
  h4 {
    font-size: 25px;
  }
  .btn-branding {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .hero {
    padding: 80px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .about-section h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .content-container {
    padding: 20px 10px;
    text-align: center;
  }
  .content {
    margin: 0 auto;
  }
  .work-container {
    margin: 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
    font-size: 35px;
  }
  nav a {
    font-size: 14px;
  }
  footer .contact-box {
    padding: 30px;
    border-radius: 10px;
  }
}
